@page "/admin/attributes";
@rendermode InteractiveServer


<FluentCard>
    <h3>Attribute List</h3>

    <button @onclick=@(() => Navigation.NavigateTo("admin/attributes/create"))>Create Attribute</button>

    @if (IsLoading)
    {
        <p><em>Loading...</em></p>
    }
    else if (Attributes?.Count == 0)
    {
        <p><em>No categories found.</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Input type</th>
                    <th>Data Type</th>
                    <th style="width:150px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var attr in Attributes)
                {
                    <tr>
                        <td>@attr.Name</td>
                        <td>@attr.InputType</td>
                        <td>@attr.DataType</td>
                        <td>
                            <button class="btn btn-sm btn-warning" @onclick="@(() => EditAttribute(attr.Id))">Edit</button>
                            <button class="btn btn-sm btn-danger" @onclick="@(() => DeleteAttribute(attr.Id))">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (!string.IsNullOrEmpty(Message))
    {
        <div class="alert alert-info mt-3">@Message</div>
    }

</FluentCard>


