@page "/admin/attributes";
@using Application.Features.Attributes.DTOs
@rendermode InteractiveServer

@inject IDialogService DialogService;


@attribute [Authorize(Roles = "Admin,SuperAdmin")]

<div class="card">
    <div class="card-body">
        <div style="display:flex; justify-content:space-between;">
            <h3>Attribute List</h3>
            <FluentButton @onclick=@CreateItem Color="White" BackgroundColor="Teal">Create Attribute</FluentButton>
        </div>

        @if (IsLoading)
        {
            <p><em>Loading...</em></p>
        }
        else if (Attributes?.Count == 0)
        {
            <p><em>No categories found.</em></p>
        }
        else
        {
            <div style="height:85vh;">
                <FluentDataGrid Items="Attributes?.AsQueryable()"
                                TGridItem="AttributeDto"
                                Pagination="@pagination"
                                RowSize="@rowSize"
                                AutoItemsPerPage="true"
                                Style="overflow-y:hidden;">
                    <PropertyColumn Width="60px" Property="@(c => c.Id)" Sortable="true" />
                    <PropertyColumn Property="@(c => c.Name)" Sortable="true" />
                    <PropertyColumn Property="@(c => c.InputType)" Sortable="true" />
                    <PropertyColumn Property="@(c => c.DataType)" Sortable="true" />
                    <TemplateColumn Title="Action">
                        <div style="display:flex;">
                            <FluentButton IconEnd="@(new Icons.Regular.Size16.Edit())"
                                          Title="Edit"
                                          OnClick="@(() => EditItem(context))" />
                            <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())"
                                          Title="Delete"
                                          Color="Color.Error"
                                          OnClick="@(() => DeleteAttribute(context.Id))" />
                        </div>
                    </TemplateColumn>
                </FluentDataGrid>
                <FluentPaginator State="@pagination" />
            </div>
        }
    </div>
</div>


