@page "/admin/attributes";
@using Application.Features.Attributes.DTOs
@using Application.Features.Attributes.Queries;
@using BongoEcom.Components.Common
@rendermode InteractiveServer

@inject IDialogService DialogService;


<div class="card">
    <div class="card-body">
        <div class="row">
            <div>
                <div style="display:flex; justify-content:space-between;">
                    <h3>Attribute List</h3>
                    <FluentButton @onclick=@Create Color="Color.Error">Create Category</FluentButton>
                </div>
                <div>
                    <div class="mb-3">
                        <FluentCombobox Items=@Groups
                                        Width="200px"
                                        OptionText="@(i => i.Name)"
                                        Label="Group"
                                        Value="@group.Name"
                                        SelectedOptionChanged="SelectAttributeGroup"
                                        Height="200px"
                                        Disabled=@(Groups.Count == 0)
                                        Autocomplete="ComboboxAutocomplete.Both"
                                        TOption="AttributeGroupDto" />
                        
                    </div>
                </div>

                @if (IsLoading)
                {
                    <Loading></Loading>
                }
                else if (FilteredAttributes?.Count == 0)
                {
                    <p><em>No attributes found.</em></p>
                }
                else
                {
                    <div style="height:85vh;">
                        <FluentDataGrid Items="FilteredAttributes?.AsQueryable()"
                                        TGridItem="AttributeDto"
                                        Pagination="@pagination"
                                        RowSize="@rowSize"
                                        AutoItemsPerPage="true"
                                        Style="overflow-y:hidden;">
                            <TemplateColumn Width="60px" Title="Sl">
                                <p>@(FilteredAttributes?.IndexOf(context) + 1)</p>
                            </TemplateColumn>
                            <PropertyColumn Property="@(c => c.Name)" Title="Attribute" Sortable="true" />
                            <PropertyColumn Property="@(c => c.GroupName)" Title="Group" Sortable="true" />
                            <TemplateColumn Title="Values">
                                <div>
                                    @foreach(var value in context.Values){
                                        <div style="padding:5px; display:inline-block;">
                                            <FluentBadge Appearance="Appearance.Neutral">
                                                @value.Value
                                            </FluentBadge>
                                        </div>
                                    }
                                </div>
                            </TemplateColumn>
                            <TemplateColumn Title="Action">
                                <div style="display:flex;">
                                    <FluentButton IconEnd="@(new Icons.Regular.Size16.Edit())"
                                                  Title="Edit"
                                                  OnClick="@(() => Edit(context.Id))" />
                                    <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())"
                                                  Title="Delete"
                                                  Color="Color.Error"
                                                  OnClick="@(() => DeleteAttribute(context.Id))" />
                                </div>
                            </TemplateColumn>
                        </FluentDataGrid>
                        <FluentPaginator State="@pagination" />
                    </div>
                }

                @if (!string.IsNullOrEmpty(Message))
                {
                    <div class="alert alert-info mt-3">@Message</div>
                }
            </div>
        </div>
    </div>
</div>


@code {
    DataGridRowSize rowSize = DataGridRowSize.Medium;
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    PaginationState groupPagination = new PaginationState { ItemsPerPage = 10 };
}

