@page "/admin/order/{OrderId:int}/details"
@using BongoEcom.Components.Common
@using Shared.Enums

@attribute [Authorize(Roles = "Admin,SuperAdmin")]

@if (isLoading)
{
    <Loading/>
}
else if (Order == null)
{
    <div class="alert alert-danger">Order not found.</div>
}
else
{
    <div class="container my-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4>Customer : <span class="text-primary">@Order.CustomerName</span></h4>
                @* <p class="text-muted">We've received your order and it's currently being processed.</p> *@

                <hr />
                <p><strong>Order No:</strong> #@Order.OrderNo</p>
                <p><strong>Status:</strong> @((OrderStatus)Order.Status)</p>
                <p><strong>Delivery Address:</strong> @Order.DeliveryAddress</p>
                <p><strong>Phone:</strong> @Order.CustomerPhone</p>
                <p><strong>Payment Method:</strong> @((PaymentMethod.CashOnDelivery))</p>
                <p><strong>Order Date:</strong> @Order.CreatedAt.ToString("f")</p>

                @if (Order.Coupon is not null)
                {
                    <p><strong>Coupon :</strong> <strong>@Order.Coupon.Code</strong> is applied</p>
                }

                <hr />

                <h5>Order Items</h5>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Attributes</th>
                            <th>Qty</th>
                            <th>Unit Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Order.Items)
                        {
                            <tr>
                                <td>
                                    <img src="@(item.ImageUrl)" class="rounded me-2" style="width: 60px; height: 60px;" />
                                </td>
                                <td>@item.ProductName</td>
                                <td>@((MarkupString)item.AttributeHtml)</td>
                                <td>@item.Quantity</td>
                                <td>৳ @item.UnitPrice</td>
                                <td>৳ @(item.Quantity * item.UnitPrice)</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <hr />
                <div class="d-flex justify-content-between">
                    <strong>Subtotal:</strong>
                    <span>৳ @Order.SubTotal</span>
                </div>

                @if(Order.Discount>0)
                {
                    <div class="d-flex justify-content-between">
                        <strong>Discount:</strong>
                        <span style="color:orangered;"> - ৳ @Order.Discount</span>
                    </div>
                }
                
                <div class="d-flex justify-content-between">
                    <strong>Delivery Charge:</strong>
                    <span>৳ @Order.DeliveryCharge</span>
                </div>
                <div class="d-flex justify-content-between fw-bold fs-5">
                    <strong>Total:</strong>
                    <span>৳ @Order.TotalAmount</span>
                </div>

                <div class="mt-4">
                    <a href="/admin/orders" class="btn btn-outline-secondary ms-2">Orders</a>
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public int OrderId { get; set; }
}
