@page "/admin/delivery-charges"
@rendermode InteractiveServer

@using Application.Features.Orders.Commands
@using Application.Features.Orders.Queries
@using BongoEcom.Components.Common
@inject ISender Mediator
@inject IDialogService DialogService;
@inject NavigationManager Navigation

@attribute [Authorize(Roles = "Admin,SuperAdmin")]

<PageTitle>Delivery Charges</PageTitle>

<div class="card">
    <div class="card-body">

        <div class="d-flex justify-content-between">
            <h3 class="text-xl font-bold mb-4">Delivery Charges</h3>
            <button class="mt-4 px-4 py-2 bg-success text-white rounded border-0" @onclick="CreateItem">+ Add Delivery Charge</button>
        </div>

        @if (loading)
        {
            <Loading/>
        }
        else
        {
            <FluentDataGrid Items="deliveryCharges?.AsQueryable()"
            TGridItem="DeliveryChargeDto"
            RowSize="@rowSize"
            AutoItemsPerPage="true"
            Style="overflow-y:hidden;">
                @* <PropertyColumn Width="60px" Property="@(c => c.Id)" Sortable="true" /> *@
                <TemplateColumn Width="60px" Title="Sl">
                    <p>@(deliveryCharges?.IndexOf(context) + 1)</p>
                </TemplateColumn>
                <PropertyColumn Property="@(c => c.AreaType)" Sortable="true" />
                <PropertyColumn Property="@(c => $"{c.ChargeAmount} Tk")" Title="Amount" Align="Align.End"/>
                <PropertyColumn Property="@(c => $"{c.FreeShippingThreshold} Tk")" Title="Free Shipping Over" Align="Align.End" />
                <TemplateColumn Title="Action">
                    <div style="display:flex;">
                        <FluentButton IconEnd="@(new Icons.Regular.Size16.Edit())"
                        Title="Edit"
                        OnClick="@(() => EditItem(context))" />
                        <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())"
                        Title="Delete"
                        Color="Color.Error"
                        OnClick="@(() => Delete(context.Id))" />
                    </div>
                </TemplateColumn>
            </FluentDataGrid>

        }
    </div>
</div>


@code {
    DataGridRowSize rowSize = DataGridRowSize.Medium;
    private List<DeliveryChargeDto> deliveryCharges = new();

    protected override async Task OnInitializedAsync()
    {

    }

    bool loading = false;
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await LoadData();
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private void CreateNew()
    {
        Navigation.NavigateTo("/admin/delivery-charges/create");
    }

    private async Task Delete(short id)
    {
        var confirmed = await UIService.ShowConfirmationAsync("confirm", "Are you sure you want to delete this delivery charge?");

        if (!confirmed) return;

        var response = await _mediator.Send(new DeleteDeliveryChargeCommand(id));
        if (response.IsSuccess)
        {
            await LoadData();
        }
    }
}
